{% extends 'books/base.html' %}
{% block content %}
    <div class="row pt-3">
        <div class="col-6 offset-3">
            <div class="card text-center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1"> <a href="{% url 'list_books' %}"><i class="flecha bi bi-arrow-return-left"></i></a></div>
                        <h2 class="card-title col-10"><a href="">{{ book.title }} </a></h2>
                    </div>
                    <p class="card-text">{{ book.description|linebreaksbr }} </p>
                <div class="row offset-3">
                    <div class="col-1"><a href="{% url 'book_edit' pk=book.pk %}" class="btn btn-primary">Edit</a></div>
                    <div class="col-4 offset-2"> <a href="{% url 'book_delete' pk=book.pk %}" class="btn btn-danger"><i class="bi bi-trash3"></i>Delete</a></div>
                </div>
                </div>
                <div class="card-footer text-body-secondary">
                    <p> Publicado: {{ book.created_at }}</p>
                    <p> Actualizado: {{ book.updated_at }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>