{% extends 'books/base.html' %}
{% block content %}
        <div class="row pt-3">    
    {% for book in object_list %}

            <div class="col-4 p-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h2 class="card-title"><a href="{% url 'book_details' pk=book.pk %}">{{ book.title }} </a></h2>
                    </div>
                    <div class="card-footer text-body-secondary">
                        <p> Published: {{ book.created_at }}</p>
                        <p> Updated: {{ book.updated_at }}</p>
                    </div>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>